<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container" style="background-color: lightblue">
    <h1>Notre site d'articles / Layout base</h1>
    <div class="row">
        <aside class="col-md-3" style="background-color: #5eb5e0">
            <h3>Menu Général</h3>
            <div class="list-group">
                <a href="{{ path("homepage") }}" class="list-group-item">Accueil</a>
                <a href="{{ path("article_homepage") }}" class="list-group-item">Bundle Article</a>
            </div>
            {% if app.user %}
                <a href="{{ path("logout") }}">Logout</a>
            {% endif %}
        </aside>
        <div class="col-md-9" style="background-color: #A5C261">
            {% block flash %}
                {% set flash_info = app.session.flashbag.get('info') %}
                {% set flash_error = app.session.flashbag.get('error') %}
                <div class="message-flash">
                    {% if flash_info %}
                        <div class="alert alert-info">
                            {% for msg in flash_info %}
                                <p> {{ msg }} </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if flash_error %}
                        <div class="alert alert-danger">
                            {% for msg in flash_error %}
                                <p> {{ msg }} </p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endblock %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
