{% extends "ArticleBundle::layout.html.twig" %}

{% block title %} {{ article.title }} | {{ parent() }}{% endblock %}

{% block body %}

    {{ parent() }}

    <h3>Détail de l'article {{ article.title }}</h3>
    <table class="table table-bordered">
        <tr>
            <td>Id</td>
            <td>{{ article.id }}</td>
        </tr>
        <tr>
            <td>title</td>
            <td>{{ article.title }}</td>
        </tr>
        <tr>
            <td>description</td>
            <td>{{ article.description }}</td>
        </tr>
        <tr>
            <td>Content</td>
            <td>{{ article.content }}</td>
        </tr>
        <tr>
            <td colspan="2">Créé le {{ article.createdAt | date("d M Y h:i:s A") }}</td>
        </tr>
    </table>

    <div class="comments">
        {% for comment in article.comments %}
            <div>
                <p>{{ comment.content }}</p>
                <div class="footer">{{ comment.createdAt|date("d M Y") }}</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}