{% extends "ArticleBundle::layout.html.twig" %}

{% block title %} {{ article.title }} | {{ parent() }}{% endblock %}

{% block page %}
    <h3>Détail de l'article {{ article.title }}</h3>
    {% if is_granted("ROLE_USER") %}
        <a class="btn btn-default" href="{{ path("article_update", {"id": article.id}) }}"><i class="fa fa-edit"></i> Editer</a>
    {% endif %}
    <table class="table table-bordered table-striped">
        <tr>
            <td>Id</td>
            <td>{{ article.id }}</td>
        </tr>
        <tr>
            <td>title</td>
            <td>{{ article.title }}</td>
        </tr>
        <tr>
            <td>description</td>
            <td>{{ article.description }}</td>
        </tr>
        <tr>
            <td>Content</td>
            <td>{{ article.content }}</td>
        </tr>
        <tr>
            <td>Créateur</td>
            <td>{{ article.creator is not null ? article.creator.username : "" }}</td>
        </tr>
        <tr>
            <td colspan="2">Créé le {{ article.createdAt | date("d M Y h:i:s A") }}</td>
        </tr>
    </table>

    <div>
        {% if article.image is not null %}
            <img src="{{ article.image.url }}" alt="{{ article.image.title }}">
        {% endif %}
    </div>

    {% if article.comments | length %}
        <div>
            {% for comment in article.comments %}
                <div class="comment">
                    <p>{{ comment.content }}</p>
                    <div class="footer">{{ comment.createdAt|date("d M Y") }}</div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        Aucun commentaire
    {% endif %}



{% endblock %}