{% extends "ArticleBundle::layout.html.twig" %}

{% block page %}
    <div class="content">
        <h3>Page d'accueil de notre bundle ArticleBundle</h3>

        <h3>Fonctions</h3>
        <div>
            Génération de l'url de la route "article_homepage" avec la fonction <strong>path</strong> de TWIG <br>
        <pre>{% verbatim %}{{ path("article_homepage") }}{% endverbatim %} => <a href="{{ path("article_homepage") }}">{{ path("article_homepage") }}</a></pre>
        </div>

        <div>
            Génération de l'url de la route "article_homepage" avec la fonction <strong>url</strong> de TWIG <br>
        <pre>{% verbatim %}{{ url("article_homepage") }}{% endverbatim %} => <a href="{{ url("article_homepage") }}">{{ url("article_homepage") }}</a></pre>
        </div>

        <h3>Définir des variables dans le template</h3>

        {% verbatim %}
            <pre>
{% set nom_application = "Application d'articles" %}
&lt;p&gt;nom_application =&gt; {{ nom_application }}&lt;/p&gt;</pre>
        {% endverbatim %}

        {% set nom_application = "Application d'articles" %}
        <p>nom_application => {{ nom_application }}</p>

        <h3>Filtres</h3>
        {% set contenuHtml = "<a href='test'>Test</a>" %}
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th>Nom du Filtre</th>
                <th>Valeur initiale</th>
                <th>Valeur filtrée</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>abs</td>
                <td>{{ -50 }}</td>
                <td>{{ -50 | abs }}</td>
            </tr>
            <tr>
                <td>date("d/m/Y h:i:s A")</td>
                <td>{{ dump(dateDuJour) }}</td>
                <td>{{ dateDuJour | date("d/m/Y h:i:s A") }}</td>
            </tr>
            <tr>
                <td>escape</td>
                <td>{{ "<a href='test'>Test</a>" }}</td>
                <td>{{ "<a href='test'>Test</a>" | e }}</td>
            </tr>
            <tr>
                <td>raw</td>
                <td>{{ contenuHtml }}</td>
                <td>{{ contenuHtml | raw }}</td>
            </tr>
            <tr>
                <td>format</td>
                <td>{{ "J'aime %s et %s" }}</td>
                <td>{{ "J'aime %s et %s"| format("symfony", "PHP") }}</td>
            </tr>
            <tr>
                <td>length</td>
                <td>{{ dump(categories) }}</td>
                <td>{{ categories | length }}</td>
            </tr>
            <tr>
                <td>upper</td>
                <td>{{ "SymFony" }}</td>
                <td>{{ "SymFony" | upper }}</td>
            </tr>
            <tr>
                <td>lower</td>
                <td>{{ "SymFony" }}</td>
                <td>{{ "SymFony" | lower }}</td>
            </tr>
            <tr>
                <td>title</td>
                <td>filtre title</td>
                <td>{{ "filtre title" | title }}</td>
            </tr>
            <tr>
                <td>capitalize</td>
                <td>filtre capitalize</td>
                <td>{{ "filtre capitalize" | capitalize }}</td>
            </tr>
            </tbody>
        </table>

        <h3>Boucle for sur tableau associatif / liste des catégories</h3>
        {% verbatim %}
            <pre>
Paramètres de la vue définis dans le controller
$viewParameters = [
    "dateDuJour" => new \DateTime(),
    "categories" => [
        ["name" => "catégorie 1", "description" => "Description de la catégorie 1"],
        ["name" => "catégorie 2", "description" => "Description de la catégorie 2"],
    ],
];</pre>
        {% endverbatim %}
        {% if categories is not defined %}
            <p>Aucunes catégories disponibles !</p>
        {% else %}
            <table class="table table-bordered table-striped">
                <tbody>
                {# Commentaire avec TWIG #}
                {% for key, category in categories %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>loop.index0 => {{ loop.index0 }}</td>
                        <td>loop.index => {{ loop.index }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <h3>Boucle for</h3>

        {% verbatim %}
            <pre>
{% for i in 0..10 %}
    - item {{ i }} &lt;br&gt;
{% endfor %}</pre>
        {% endverbatim %}


        {% for i in 0..10 %}
            - item {{ i }} <br>
        {% endfor %}
        <br>
        {% verbatim %}
            <pre>
{% set items = ["item 1", "item 2", "item 3"] %}
&lt;ul&gt;
{% for item in items %}
    &lt;li&gt;{{ item }}&lt;/li&gt;
{% endfor %}
&lt;/ul&gt;</pre>
        {% endverbatim %}


        {% set items = ["item 1", "item 2", "item 3"] %}
        <ul>
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>

        <h3>Les structures de contrôle</h3>

        {% verbatim %}
            <pre>
{% set user_name = "username" %}
{% if user_name %}
    &lt;p&gt;La variable username est définie et vaut : {{ user_name }}&lt;/p&gt;
{% else %}
    &lt;p&gt;Variable username est vide !&lt;/p&gt;
{% endif %}</pre>
        {% endverbatim %}

        {% set user_name = "username" %}
        {% if user_name %}
            <p>La variable username est définie et vaut : {{ user_name }}</p>
        {% else %}
            <p>Variable username est vide !</p>
        {% endif %}

        {% verbatim %}
            <pre>
{% if var_undefined is defined %}
    &lt;p&gt;La variable var_undefined existe et vaut : {{ var_undefined }} !&lt;/p&gt;
{% else %}
    &lt;p&gt;La variable var_undefined n'existe pas !&lt;/p&gt;
{% endif %}</pre>
        {% endverbatim %}

        {% if var_undefined is defined %}
            <p>La variable var_undefined existe et vaut : {{ var_undefined }} !</p>
        {% else %}
            <p>La variable var_undefined n'existe pas !</p>
        {% endif %}
    </div>
{% endblock %}