{% extends "ArticleBundle::layout.html.twig" %}

{% block title %}Liste des articles | {{ parent() }} {% endblock %}

{% block body %}

    {{ parent() }}

    <h3>Liste des articles [ {{ articles|length }} ]</h3>
    <table class="table table-bordered table-responsive table-striped article-bundle">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Contenu</th>
            <th>Créé le</th>
            <th colspan="4">Par</th>
        </tr>
        </thead>
        <tbody>
        {% for article in  articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title | title }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createdAt | date("d M Y h:i A") }}</td>
                <td>{{ article.createdBy }}</td>
                <td>
                    <a class="btn btn-default"
                       href="{{ path ("article_detail",{"slug": article.slug, "id": article.id }) }}"
                       data-toggle="tooltip"
                       title="Voir l'article">
                        <i class="fa fa-eye"></i>
                    </a>
                </td>
                <td><a class="btn btn-danger" href="{{ path("article_delete", {"id": article.id}) }}">Supprimer</a></td>
                <td><a class="btn btn-default" href="{{ path("article_update", {"id": article.id}) }}">Mettre à jour</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


