{% extends "ArticleBundle::layout.html.twig" %}

{% block title %}Liste des articles | {{ parent() }} {% endblock %}

{% block page %}
    <h3>Liste des articles [ {{ articles|length }} ]    <small>Visible seulement pour les utilisateurs avec le rôle : "ROLE_USER"</small>   </h3>
    <table class="table table-bordered table-responsive table-striped article-bundle">
        <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Contenu</th>
            <th>Créé le</th>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
        {% for article in  articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title | title }}</td>
                <td>{{ article.description }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createdAt | date("d M Y h:i A") }}</td>
                <td>{{ article.comments | length }} commentaires</td>
                <td class="text-center" width="100px">
                    <div class="btn-group btn-group-xs">
                        <a class="btn btn-default"
                           href="{{ path ("article_detail", {"slug": article.slug, "id": article.id }) }}"
                           data-toggle="tooltip"
                           title="Voir l'article">
                            <i class="fa fa-eye"></i>
                        </a>
                        {% if is_granted("ROLE_ADMIN") %}
                            {#Si l'utilisateur a le role administrateur #}
                            <a class="btn btn-danger" href="{{ path("article_delete", {"id": article.id}) }}" data-toggle="tooltip"
                               title="Supprimer"><i class="fa fa-remove"></i></a>
                        {% endif %}
                        <a class="btn btn-primary" href="{{ path("article_update", {"id": article.id}) }}" data-toggle="tooltip"
                           title="Editer"><i class="fa fa-edit"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


